root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
# ktlint: run `ktlint "android/src/**/*.kt"` (installed separately)
ktlint_standard_no-wildcard-imports = disabled

[*.{ts,js,mjs,cjs,json}]
indent_style = space
indent_size = 4
